@charset "UTF-8";

.container {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 200px 300px 300px 200px;
    grid-template-areas: 'header header header'
                         'section section section'
                         'aside article article'
                         'footer footer footer';
}

.header {
    background-color: red;
    grid-area: header;
}

.nav {
    display: grid;
    background-color: white;
    margin: 20px 160px;;
    border-radius: 5px;
    
      
}

#logo {
    display: grid;
    justify-content: start;
    grid-column: 1/2;
    margin: 10px;
    grid-area: 1/1/2/2;
}
 
#links {
    display: grid;
    justify-content: end;
    grid-auto-flow: column;
    grid-gap: 30px;
    grid-area: 1/1/2/span 2;
    padding-top: 50px;
    padding-right: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    color: orange;
}

.section {
    display: grid;
    background-color: blue;
    grid-area: section;
    grid-template-columns: auto auto auto auto;
    max-height: 600px;
    padding-left: 10px;
    padding-left: 10px;
    
    
}

.aside {
    background-color: green;
    grid-area: aside;
}

.article {
    background-color: brown;
    grid-area: article;
}

.footer {
    display: grid;
    background-color: yellow;
    grid-area: footer;
    grid-template-columns: auto auto auto auto;
}

.menu {
    display: grid;
    grid-auto-rows: row;
    grid-row-gap: 20px;
}

.contact {
    display: grid;
    grid-auto-rows: row;
    
}