.container {
    display: grid;
    grid-template-areas: "header header header"
                         "section section section"
                         "aside article aside"
                         "footer footer footer";
    
    grid-template-columns: 450px 600px 450px;
    grid-template-rows: 100px 500px 300px 400px;
}

.header {
    grid-area: header;
    background-color: #df570d;
}

.section {
    grid-area: section;
    background-color: green;
}

.article {
    grid-area: article;
    background-color: blue;
}

.aside {
    grid-area: aside;
    background-color: red;
}

.footer {
    grid-area: footer;
    background-color: #df570d;
}