

.container {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 200px 300px 200px 200px 200px;
    grid-template-areas: "header header header"
                         "nav nav nav"
                         "section section section"
                         "aside article article"
                         "footer footer footer";
}

.header {
    display: grid;
    grid-area: header
    background-color: yellow;
   
}

.nav {
    display: grid;
    grid-area: nav;
    background-color: pink;
        
}

#logo {
    display: grid;
    justify-content: center
    
}

#links {
    display: grid;
    grid-auto-columns: column;
    
}

a {
    text-decoration: none;
}

a:hover {
    color: #df570d;
}

.section {
    grid-area: section;
    background-color: gray;
    padding: 10px;
}

.article {
    grid-area: article;
    background-color: brown;
    padding: 10px;
}

.aside {
    grid-area: aside;
    background-color: red;
}

.footer {
    grid-area: footer;
    background-color: #df570d;
    padding: 10px;
}